.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #881111;
  padding: 0 2rem;
}

.header h1 {
  color: white;
  width: 70%;
}

.badge {
  border: #881111 1px solid;
  padding: 2px 5px;
  background-color: #881111;
  border-radius: 0.3em;
}
