.form-control {
  border: blueviolet solid 1px;
  border-radius: 1rem;
  margin: 0.5rem auto;
  width: 60%;
}

.form-control label {
  display: block;
}

.form-control .form-button {
  padding: 0.3rem;
}

.form-control .form-button button {
  border: blueviolet solid 1px;
  background-color: transparent;
  border-radius: 0.25rem;
}
.form-control div {
  width: 60%;
  margin: 0.2rem auto;
}
.form-control input {
  width: 100%;
  height: 2rem;
  font-size: 2rem;
}
