.button {
  border-radius: 2rem;
  background-color: brown;
  border: none;
  width: 10em;
  height: 50%;
  font-weight: 600;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  border: 0.8px solid brown;
  transition: 0.32s;
}

.button:hover {
  filter: brightness(70%);
}
